/* * {
  box-sizing: border-box;
} */
html {
  height: 100%;
}

button {
  background-color: #f2f3f3;
}

body {
  font-family: 'Noto Sans KR';
  position: relative;
  min-height: 100vh
  /* padding-bottom: 20px; */
  font-size: 1.25em;
}