.calendar-search-section {
    margin-bottom: 25px;
}

h3 {
    padding-bottom: 10px;
    padding-top: 10px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

#citySearchInput, .stateDropD {
    width: 150px;
}