.event-section {
    margin-top: 50px;
}

/* .event-filter {
    background-color: rgba(0, 0, 0, 0.80);
    height: 100%;
    left: 0;
    opacity: 0.45;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
 */
