.event-section {
    margin-top: 50px;
    margin-bottom: 20px;
}

#event-hr {
    margin-top: 10px;
    color: #f2f3f3;
    background-color: #f2f3f3;
    border: 0;
    height: 5px;
    width: 80%;
}