/* .fav-event-hr {
    color: #f2f3f3;
    background-color: #f2f3f3;
    border: 0;
    height: 2px;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.fav-event-delete-btn {
    padding: 8px;
    border-radius: 25px;
    font-weight: bold;
    background-color: #f3a953;
    border: #f3a953;
    color: #f2f3f3;
    text-shadow: -1px 1px 10px rgba(0, 0, 0, 0.85);
    margin: 10px;
} */