footer {
    background-color: #064acb;
    position: absolute;
    /* bottom: 0; */
    max-width: 1040px;
    width: 100%;
    height: 20px;
    margin-top: 20px;
    font-family: 'Noto Sans KR';
    /* padding: 20px 30px 20px 30px; */
    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px; */
    margin: 0 auto 0 auto;
    color: #f2f3f3;
    font-size: 14px;
}


@media screen and (max-width: 600px) {
   footer {
       background-color: #064acb;
       position: absolute;
       /* bottom: 0; */
       /* max-width: 1040px; */
       /* width: 100%; */
       height: 20px;
       /* margin-top: 20px;
       margin-top: 20px; */
       font-family: 'Noto Sans KR';
       color: #f2f3f3;
   }
}