.home-page {

    margin: auto;
    text-align: center;
    background-color: #366ed8;
    color: #f2f3f3;
    text-shadow: -1px 1px 10px rgba(0, 0, 0, 0.897);
    font-family: 'Noto Sans KR';
    overflow: hidden;
    position: relative;
}


#search-hr {
    color: #f2f3f3;
    background-color: #f2f3f3;
    border: 0;
    height: 5px;
    width: 25%;
}

#set-area-btn {
    padding: 8px;
    border-radius: 25px;
    font-weight: bold;
    background-color: #f3a953;
    border: #f3a953;
    color: #f2f3f3;
    text-shadow: -1px 1px 10px rgba(0, 0, 0, 0.85);
}

@media screen and (max-width: 600px) {
  .home-page {
      font-size: 75%;
  }

}