.home-page:not(#footer) {
    margin: auto;
    text-align: center;
    background-color: #366ed8;
    color: #f2f3f3;
    text-shadow: -1px 1px 10px rgba(0, 0, 0, 0.897);
    font-family: 'Noto Sans KR';
}


#search-hr {
    color: #f2f3f3;
    background-color: #f2f3f3;
    border: 0;
    height: 5px;
    width: 25%;
}