.landing {
   background-color: #064acb;
   font-family: 'Noto Sans KR';
   color: #f2f3f3;
   text-align: center;
   margin: auto;
    padding: 10px;
    margin-bottom: 20px;

}


.landing-image {
    height: 400px;
    width: 800px;
}

@media screen and (max-width: 736px) {

.landing {
    background-color: #064acb;
    font-family: 'Noto Sans KR';
    color: #f2f3f3;
    text-align: center;
    margin: auto;
    padding: 7.5px;

}

.landing-image {
    height: 250px;
    width: 500px;
}

}

@media screen and (max-width: 480px) {

    .landing {
        padding: 5px;
        font-size: 85%;

    }

    .landing-image {
        height: 140px;
        width: 280px;
    }

}