/* Banner */

#banner {
   
    justify-content: center;
    background-image: url("../images/banner.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 0;
    min-height: 100vh;
    height: 100vh !important;
    width: 100%;
    position: relative;
    text-align: center;
    overflow: hidden;
}

	#banner:before {
	    transition: opacity 3s ease;
	    transition-delay: 1.25s;
	    content: '';
	    display: block;
	    background-color: rgba(0, 0, 0, 0.75);
	    height: 100%;
	    left: 0;
	    opacity: 0.45;
	    position: absolute;
	    top: 0;
	    width: 100%;
	    z-index: 1;
	}



/* #banner video {
    -moz-transform: translateX(50%) translateY(50%);
    -webkit-transform: translateX(50%) translateY(50%);
    -ms-transform: translateX(50%) translateY(50%);
    transform: translateX(50%) translateY(50%);
    position: absolute;
    bottom: 50%;
    right: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
}



 */
