.landing {
   background-color: #064acb;
   font-family: 'Noto Sans KR';
   color: #f2f3f3;
   text-align: center;
   margin: auto;
    padding: 10px;
    margin-bottom: 20px;

}


.landing-image {
    height: 400px;
    width: 800px;
}

@media screen and (max-width: 736px) {

.landing {
    background-color: #064acb;
    font-family: 'Noto Sans KR';
    color: #f2f3f3;
    text-align: center;
    margin: auto;
    padding: 7.5px;

}

.landing-image {
    height: 200px;
    width: 400px;
}

}

@media screen and (max-width: 425px) {

    .landing {
        padding: 5px;
        font-size: 85%;

    }

}