.register-form {
    background-color: #f3a953;
    max-width: 1040px;
    margin: 0 auto 0 auto;
    padding: 30px 20px 10px 20px;
    color: #064acb;
    font-weight: 700;
    text-align: center;
}

.register-form label,
.register-form button {
    display: block;
}

.register-form button {
    margin: 0 auto 0 auto;
}

.register-form > a {
    margin: 0 auto 0 auto;
    color: #f2f3f3;
}