.register-form {
    background-color: #f3a953;
    max-width: 1040px;
    margin: 0 auto 0 auto;
    padding: 30px 20px 10px 20px;
    color: #f2f3f3;
    font-weight: 700;
    text-align: center;
    text-shadow: -1px 1px 10px rgba(0, 0, 0, 0.836)
}

.register-form label,
.register-form button {
    display: block;
    padding: 3px;
}

.register-form button {
    margin: 0 auto 0 auto;
    background-color: #064acb;
    color: #f2f3f3;
    border-radius: 15px;
    padding: top
}

.register-form > a {
    margin: 0 auto 0 auto;
    color: #f2f3f3;
}